.userPanel {
  background: var(--background-color);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  padding: 4.8rem;
  display: flex;
  gap: 3.7rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.heading {
  flex: 1;
}
.ghLink {
  margin-bottom: 2rem;
  display: block;
  color: #0079ff;
}

.bio {
  margin-bottom: 3.2rem;
}

.statsContainer {
  display: flex;
  padding: 1.5rem 3.2rem 1.7rem 3.2rem;
  gap: 8rem;
  background: var(--backgroundSecondary-color);
  border-radius: 10px;
  margin-bottom: 4rem;
}

.credentialsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 6rem;
}

@media only screen and (max-width: 750px) {
  .headerContainer {
    margin-left: 20rem;
    flex-direction: column;
    margin-bottom: 3.8rem;
    margin-top: 1rem;
  }

  .ghLink {
    margin-bottom: 0.2rem;
    width: 6rem;
  }
  .avatarContainer {
    position: absolute;
  }
  .credentialsContainer {
    grid-template-columns: 1fr;
  }
  .statsContainer {
    gap: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .credentialsContainer {
    grid-template-columns: 1fr;
  }
  .statsContainer {
    gap: 1rem;
    justify-content: space-around;
  }
  .userPanel {
    padding: 2.8rem;
  }
}
