.app {
  background-color: var(--backgroundSecondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.appContainer {
  width: 73rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}

.searchButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--button-color);
}

.icon {
  margin-left: 1.6rem;
}
