.app {
  height: 100vh;
  background-color: #f6f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appContainer {
  width: 73rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
