.credentialComponent {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.credentialLink,
.credentialLinkNotAvailable {
  width: 18rem;
  display: block;
  word-wrap: break-word;
}

.credentialLink {
  color: var(--font-color);
  font-size: 1.5rem;
}

.credentialNotAvailable {
  opacity: 0.5;
}

.credentialLinkNotAvailable {
  opacity: 0.5;
}
